@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

/* Ajustes clases prime-react */
.p-card .p-card-content {
  /*Card*/
  padding: 0.3rem 0 !important;
}
.buttons td {
  /*Table td button*/
  padding: 0.3rem 1rem !important;
}
.no-buttons td {
  /*Table td no buttons*/
  padding: 0.7rem 1rem !important;
}
.p-dialog .p-dialog-header,
.p-dialog .p-dialog-content {
  /*Dialog*/
  padding: 0.8rem 1.5rem 0.5rem 1.5rem !important;
}
.p-password .p-password-input {
  /*Pass input*/
  width: 100% !important;
}
.p-datatable .p-component-overlay {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 700px) {
  .p-card .p-card-body {
    padding: 0.2rem !important;
  }
}

@media (max-width: 500px) {
  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    padding: 0.5rem !important;
  }
  .p-menuitem-text .p-menuitem-icon {
    font-size: 0.5rem !important;
  }
}
