@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

/* Ajustes clases prime-react */
.p-card .p-card-content {
  padding: 0.3rem 0 !important;
}

.p-password .p-password-input {
  width: 100% !important;
}

@media (max-width: 700px) {
  .p-card .p-card-body {
    padding: 0.2rem !important;
  }
}
